.admin-bar .navbar-fixed-top {
	margin-top: 30px;
}

@media screen and (max-width: 782px) {
	.admin-bar .navbar-fixed-top {
	margin-top: 45px;
}

.logo {
    max-height: 40px;
    margin: -15px 0px;
}
}

/*.current-menu-item {
	background-color: black;
}*/

header {
	margin-top: 8em;
}

body {
	background-color: #eee;
    font-family: 'Lato';
/*    padding-top: 50px;*/
}

hr {    
    border-top: 1px solid #9D9D9D;
}

ul
{
    list-style-type: none;
}

img.blog_photo.wp-post-image {
    max-width: 100%;
    height: 100%;
}

.starter-template {
  padding: 40px 0px 0px 0px;
}

.signup-form {
   background: white;
   height: 315px;
   padding: 0px 40px;
   border-radius: 3px;
}

.form-header {
    padding: 30px 0 0 5px;
}

.navbar-default {
    background-color: rgb(61,61,61);
    border-color: rgb(61,61,61);
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-size: 1.1em;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #EDEDED;
}

.navbar-default .navbar-brand {
    color: #3ECAFA;
    text-transform: uppercase;
    font-size: 25px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #38B3DD;
    background-color: transparent;
}

/* Links */
a {
    color: #38B3DD;
    text-decoration:none
}

a:hover,a:focus {
    color: #48c3DD;
    text-decoration:none;
}

a:focus {
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
    color: white;
}

a:active {
    color: lightgray;
}

.home-jumbo {
    background-color: lightblue;
    height: 360px;
}

.solid-blog {
/*    margin-top: 60px;*/
    margin-bottom: 25px;
    text-transform: uppercase;
    line-height: 50px;
    color: #222; 
}

.blog-title {
    margin-top: 50px !important;
}

.logo {
    max-height: 40px;
}

input#s {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
}

input#searchsubmit {
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
}

label.screen-reader-text {
    display: none;
}

@media (min-width: 768px){

body {
/*    padding-top: 61px;*/

}

.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}  
a.navbar-brand {
    padding-top: 12px;
    height: 20px;
}  
.navbar-default .navbar-nav>li>a {
    font-size: 1.2em;
}
}

.get-started {
    background: #38B3DD;
    margin-top: 10px;
    border-radius: 3px;
}

.header-menu li.get-started > a{
  padding: 10px;
  color: black;
}

.get-started:hover {
    background: #48c3DD;
    margin-top: 10px;
    border-radius: 3px;
}

.header-menu li.get-started > a:hover{
  padding: 10px;
  color: black;
}

.blue {
    background: whitesmoke;
}

.text-column>div {
    padding-top: 40px;
    padding-left: 50px;
    width: 610px;

}

.home-form {
    background: white;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top: none;
    box-shadow: 1px 1px 3px rgba(124, 124, 124, 0.38);
}

.home-header {
    padding: 3% 10%;
}

.home-sub-header {
    color: #777;
}

.marketing .col-sm-4 {
    margin-bottom: 20px;
    text-align: center;
}

.key-values {
    color: #38B3DD;
}

.how-it-works {
    background: white;
}

a.get-started-call.btn.btn-default {
    background-color: #38B3DD;
    font-size: 1.2em;
    margin: 20px;
    border-radius: 3px;
    border: 1px solid #38B3DD;
    padding: 10px 20px;
}

.upper-height {
    padding: 0px;
}

/* Ninja Froms*/

.profile_pass-wrap input, .text-wrap.label-above input, .text-wrap.label-below input, .text-wrap.label-inside input, .textarea-wrap.label-above textarea, .textarea-wrap.label-below textarea, .textarea-wrap.label-inside textarea, .list-dropdown-wrap.label-above select, .list-dropdown-wrap.label-below select {
    width: 50%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid lightgray;
}

textarea#ninja_forms_field_196 {
    width: 100%;
}