.admin-bar .navbar-fixed-top {
	margin-top: 30px;
}

@media screen and (max-width: 782px) {
	.admin-bar .navbar-fixed-top {
	margin-top: 45px;
}

.logo {
    max-height: 40px;
    margin: -15px 0px;
}
}

/*.current-menu-item {
	background-color: black;
}*/

header {
	margin-top: 8em;
}

body {
	background-color: #eee;
    font-family: 'Source Sans Pro';
    padding-top: 50px;
}

hr {    
    border-top: 1px solid #9D9D9D;
}

ul
{
    list-style-type: none;
}

img.blog_photo.wp-post-image {
    max-width: 100%;
    height: 100%;
}

.starter-template {
  padding: 40px 0px 0px 0px;
}

.signup-form {
   background: white;
   height: 315px;
   padding: 0px 40px;
   border-radius: 3px;
}

.form-header {
    padding: 30px 0 0 5px;
}

.navbar-default {
    background-color: rgb(61,61,61);
    border-color: rgb(61,61,61);
}

.navbar-default .navbar-nav>li>a {
	color: white;
	font-size: 1.1em;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #EDEDED;
}

.navbar-default .navbar-brand {
    color: #3ECAFA;
    text-transform: uppercase;
    font-size: 25px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #38B3DD;
    background-color: transparent;
}

/* Links */
a {
    color: #38B3DD;
    text-decoration:none
}

a:hover,a:focus {
    color: #48c3DD;
    text-decoration:none;
}

a:focus {
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}

.home-jumbo {
    background-color: lightblue;
    height: 360px;
}

.solid-blog {
    margin-top: 40px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: dimgray; 
}

.blog-title {
    margin-top: 50px !important;
}

.logo {
    max-height: 40px;
}

input#s {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
}

input#searchsubmit {
    border-radius: 3px;
    border: none;
    padding: 5px 10px;
}

label.screen-reader-text {
    display: none;
}

@media (min-width: 768px){

body {
    padding-top: 79px;

}
.navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
}  
a.navbar-brand {
    padding-top: 12px;
    height: 20px;
}  
.navbar-default .navbar-nav>li>a {
    font-size: 1.2em;
}
}


