a.button.add_to_cart_button.product_type_variable {
    display: none;
}

td.sc-label {
    padding-right: 10px;
}

.single-product {
    background: white;
}

.summary.entry-summary.col-sm-6 {
    padding: 0px 30px;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #4CAF50;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #54C258;
    color: #fff;
    -webkit-font-smoothing: antialiased;
}

.woocommerce .woocommerce-message {
    padding: 1em 2em 1em 3.5em!important;
    margin: 0 0 2em!important;
    position: relative;
    background-color: #6FF486;
    color: #414141;
    border-top: none;
    list-style: none!important;
    width: auto;
    word-wrap: break-word;
    border-radius: 3px
}

.woocommerce .woocommerce-message:before {
    content: "\e015";
    color: #606060;
}

.woocommerce .woocommerce-message .button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    text-decoration: none;
    overflow: visible;
    padding: .618em 1em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: #515151;
    background-color: #FBFF00;
    border: 0;
    white-space: nowrap;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none;
}

.woocommerce .woocommerce-message .button:hover {
    color: #515151;
    background-color: #FBFF1B;
}

button.single_add_to_cart_button.button.alt {
    padding: 20px 40px;
    font-size: 1.6em;
}

.woocommerce div.product form.cart .button {
    vertical-align: middle;
    float: left;
}

table.variations {
    width: 60%;
}

input.input-text.qty.text {
    padding: 18px 0px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 1.2em;
}

.woocommerce div.product form.cart .variations label {
    font-weight: 700;
    font-size: 1.5em;
}

select {
    background: white;
    border: 1px solid #DADADA;
    font-size: 1.5em;
}

.woocommerce-cart, .woocommerce-checkout {
    background-color: white;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    background: white;
    border-radius: 3px;

}

.woocommerce ul.products li.product h3 {
    padding: .5em 0;
    margin: 0;
    font-size: 1.1em;
    text-align: center;
    color: #3AB3DD;
}

.woocommerce ul.products li.product .price {
    color: #646464;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: .857em;
    text-align: center
}

a.button.alt {
    background-color: #4CAF50;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    padding: 20px;
    font-size: 1.5em
}

.woocommerce .woocommerce-breadcrumb a {
    color: #38B3DD;
}

.woocommerce-cart table.cart img {
    width: 70px;
    box-shadow: none;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    outline: 0;
    line-height: 1;
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 10px;
}

.select2-container .select2-choice {
    display: block;
    padding: 5px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    white-space: nowrap;
    color: #444;
    text-decoration: none;
    border-radius: 3px;
    background-clip: padding-box;
    user-select: none;
    background-color: #fff;
    font-weight: 400;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    background-color: transparent;
}

input#place_order {
    font-size: 150%;
}

/* Cart Styles*/

footer .right {
    text-align: right;
}

footer a.btn {
    font-size: .8rem;
    margin-left: 5px;
    border: 1px #384047 solid;
    display: inline-block;
    background: #384047;
    font-size: 1.6em;
    color: white;
    padding: 10px 8px;
    border-radius: 2px;
    box-shadow: none;
    margin-bottom: 15px;
}

footer a.btn:hover {
    color: lightblue;
}

footer a.btn.alt {
    background-color: white;
    border-color: #ccc;
    color: #222;
}

footer a.btn.alt:hover {
    background-color: white;
    border-color: #ccc;
    color: lightblue;
}

@media screen and (max-width: 768px) {

footer.navbar.navbar-fixed-bottom {
    display: none;
}

a.btn.alt {
    display: none;
}
a.btn {
    display: none;
}

}





















